/whilesimple/nbproject/private/
/whilesimple/build/
/whilescanner/nbproject/private/
/whilescanner/build/
/foralumnos/nbproject/private/
/foralumnos/build/
/foraprobados/nbproject/private/
/foraprobados/build/
/dowhile/nbproject/private/
/dowhile/build/
/dwpromedio/nbproject/private/
/dwpromedio/build/
/arraysueldo/nbproject/private/
/arraysueldo/build/
/arrayleer/nbproject/private/
/arrayleer/build/
/arrayparalelo/nbproject/private/
/arrayparalelo/build/
/arrayparalelo/dist/
/arraymayor/nbproject/private/
/arraymayor/build/
/arrayordenar/nbproject/private/
/arrayordenar/build/
/arraymayor/dist/
/arrayordenar/dist/