/whilesimple/nbproject/private/
/whilesimple/build/
/whilescanner/nbproject/private/
/whilescanner/build/
/foralumnos/nbproject/private/
/foralumnos/build/
/foraprobados/nbproject/private/
/foraprobados/build/
/dowhile/nbproject/private/
/dowhile/build/
/dwpromedio/nbproject/private/
/dwpromedio/build/